%h2 お気に入りした先生
- @clips.each do |clip|
  - teacher = Teacher.find(clip.teacher_id)
  .name3= link_to teacher.name, teacher_clips_path(teacher)
  -# .name2= link_to "参加中のイベントから削除",teacher_clip_path(clip), method: :delete
  -# .name2
  -#   = event.event_date.strftime("%Y-%m-%d %H:%M:%S")
  -# .name2
  -#   = event.event_location
  %br/
