#wrapper
  %nav#gnav.fixed{:style => "background-image: url(#{asset_path"bookshell.jpg"});"}
    %ul
      %li
        %a{:href => "#works"} WORKS
      %li
        %a{:href => "#feature"} ユーザー一覧
      %li
        %a{:href => "#about"}　講師一覧
      %li
        %a{:href => "#skill"} SKILL
      %li
        %a{:href => "#output"} OUTPUTS
      %li
        %a{:href => "#contact"} ログアウト
