=render "top/headcontainer"
.mypage_a  
  %main.mypage-contents.clearfix
    .main-content
      %section.user
        .user-link
        %figure.user_background
          .userInfo_img
            - if @user.img_name.present?
              = image_tag @user.img_name.url(:thumb)
            - else
              = image_tag "kotaro.jpg",width:"170px",height:"170px",class:"userInfo_img"
        .userInfo_name
          = @user.name
        .userInfo_selfIntroduction
          = @user.self_introduction
          .user-link__number
            .transaction-hisory
              %h2.header 今まで探した先生一覧
              %ul.transaction-tabs
                %li.select
                  いいねした先生一覧
                  

                %li
                  お気に入り登録の先生一覧
              .tab-content-transaction
                %ul.tab-content-transaction__now
                  %li.tab-content-transaction__notfound 登録している先生はいません
                %ul.tab-content-transaction__old.hide
                  %li.transaction-item__link
                      
                    .transaction-item__link__body
                      .transaction-item-link__body__text 檜垣先生を登録しました
                      %i.icon-arrow-right
                  %li.mypage-go-list
                    =link_to "#", class: "go" do
                      一覧を見る

=render "teachers/teachersfooter"   
