=render "top/headcontainer"
.mypage_a  
  %main.mypage-contents.clearfix
    .main-content
      %section.user
        .user-link
          %figure.user_background
            .userInfo_img
              = image_tag @user.img_name.url(:thumb)

          %h2.user-link__name
            = @user.name
          .user-link__number
            .transaction-hisory
              %h2.header 今まで探した先生一覧
              %ul.transaction-tabs
                %li.select
                  いいねした先生一覧
                %li
                  お気に入り登録の先生一覧
              .tab-content-transaction
                %ul.tab-content-transaction__now
                  %li.tab-content-transaction__notfound 登録している先生はいません
                %ul.tab-content-transaction__old.hide
                  %li.transaction-item__link
                      
                    .transaction-item__link__body
                      .transaction-item-link__body__text 檜垣先生を登録しました
                      %i.icon-arrow-right
                  %li.mypage-go-list
                    =link_to "#", class: "go" do
                      一覧を見る
=render "teachers/teachersfooter"   
