%body
  .chatPage
    %header.header
      -# = link_to "", chat_path, class: "linkToMatching"
      .chatPartner
        .chatPartner_img
        = image_tag @chat_room_user.img_name.url(:thumb)
        .chatPartner_name
        = @chat_room_user.name
    .container
      .messagesArea.messages
        = render @chat_messages
    %form.messageInputForm
      .container
        %input.messageInputForm_input{"data-behavior" => "room_speaker", :placeholder => "メッセージを入力...", :type => "text"}/
