.message
  %span.message__name
    = @chat_room_user.user.name
    \:
  - if @chat_room_user.user.id == current_user.id
    .message__text.message_current_user
      %div= @chat_room_user.chat_room_id
  - else
    .message__text
      %div= @chat_room_user.chat_message
