.footer{
  height: 100%;
  width: 100%;
  
  &__contents__about__title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;

  }
  
}
ul.footer__contents__about__item{
  text-align: center;
}
.footer__corporate{
  text-align: center;
}
.corporate{
  text-align: center;
  margin-bottom: 3rem;
}
