@import "mixins";
.header-a{
  background-color: rgb(255, 255, 255);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  z-index: 3;
  position: fixed;
 
    
    

          // プルダウンメニュー（カテゴリ）
          
          
          
          
       }
        
.form{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 1030px;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.icon{
  max-width: 100%;
  max-height: 100%;
  height: 12px;
  margin-right: 4px;
  color:#ea352d;
  line-height: 44px;
}

.login__icon{
  max-width: 100%;
  max-height: 100%;
  height: 12px;
  margin-right: 4px;
  color:rgb(134, 127, 127);

}

.search__category{
  @include header-item;
  font-weight: 600;
  line-height: 44px;
  margin-left: 4px;
}

.search__brands{
  @include header-item;
  font-weight: 600;
}

.registration{
  background-color:$header-menu-red;
  color:$White;
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color:$header-menu-red;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

.login{
  background-color:$White;
  color: $Blue;
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: $Blue;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  &:hover{
    background-color:$link-blue;
    color:$White;
  }
}

.form-a{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;

  .form-a{
    border: none;
    height: 2.0em;
  
  .form-a:focus {
    outline: 0;
  }
   
}

.search-button{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}
}
.teacher-header__top{
  
  height:100px;
  // background-image: image-url('bookshell.jpg');
  background-color:rgb(5, 21, 110);

  padding: 10px 35px 5px 0;
  color: snow;
  width: 100%;
  top: 0;
  display:flex;
  justify-content: flex-end;
  
}
.search-header__top{
  padding: 40px;
  height:60px;
  background-color: rgb(134, 127, 127);
  width: 100%;
  
  display: flex;
}
.more-infomation{
  color:#fff;
}
.search-header__details{
  height: 50px;
  width: 100%;
  background-color: rgb(184, 177, 177);
  text-align: center;
}
