#navArea
      %nav
        .inner
          %ul
            %li
              %a{:href => "#"} Text
            %li
              %a{:href => "#"} Text
            %li
              %a{:href => "#"} Text
      .toggle_btn
        %span
        %span
        %span
      #mask
