%nav.navbar.navbar-light.bg-light.static-top
  .container{href: "https://school-wise.jp/"} 
    %img#head_logo_wise{alt: "head_logo_wise", height: "", src: "https://school-wise.jp/wp-content/themes/school-wise/images/head_logo_wise.jpg", width: "20%"}/

    
    
    
    お問い合わせ<br> 0120-446-104
%span.nav_toggle
  %i
  %i
  %i
%nav.nav
  %ul.nav_menu_ul
    %li.nav_menu_li
      %a{:href => "#"} TOP
    %li.nav_menu_li
      %a{:href => "#"} ABOUT
    %li.nav_menu_li
      %a{:href => "#"} BLOG
    %li.nav_menu_li
      %a{:href => "#"} CONTACT

