%nav.navbar.navbar-light.bg-light.static-top
  .container{href: "https://school-wise.jp/"} 
    %img#head_logo_wise{alt: "head_logo_wise", height: "", src: "https://school-wise.jp/wp-content/themes/school-wise/images/head_logo_wise.jpg", width: "20%"}/

    .more-information
    お問い合わせ<br> 0120-446-104
    #navArea
  
      %nav-a
        .inner
          %ul
          
          %li
            =link_to "TOPへ戻る",root_path
          %li
            %a{:href => "#index2"} 学年別選択
          %li
            %a{:href => "#index3"} 科目別選択
          %li
            %a{:href => "#"} 無料サポート
          %li
            %a{:href => "#"} 無料サポート 
      .toggle_btn
        %span
        %span
        %span
      #mask
      

