= link_to teacher_path(teacher.id), class: "teachers__list" do
  %li.teachers__list
    %figure.teacher
      %figucaption.teacher__text
        = teacher.name
      .teacher__thumbnail
        .teacher__thumbnail--label
         
        .teacher__thumbnail--image
          - if teacher.images.present?
            =image_tag (teacher.images[0].teacher_image.url)
          - else
            = image_tag "no_image.png"
