// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin form-caution{
  display: inline-block;
  background-color:red;
  color: white;
  font-size: 11px;
  margin-left:8px;
  padding:2px 4px;
  border-radius: 2px;
  vertical-align: top;
  font-weight: bold;
}
@mixin select-wrap{
  margin: 8px 0 0;
  background: #fff;
  position: relative;
}
@mixin select-wrap-box{
  width: 100%;
  height: 48px;
  border: 1px solid #ccc;
  position: relative;
  background: 0;
  -webkit-appearance: none;
  padding: 0 16px;
}
@mixin angle-down{
  right: 12px;
  top: 50%;
  z-index: 2;
  color: #888;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
