.teacher-details-message__form{
  padding: 24px;
  .text_area-default{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .text_area-default_btn{
    width: 100%;
    margin: 8px 0 0;
    font-size: 24px;
    text-align: center;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    height: 60px;
  }
