
.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}


.loved {
  background-image: image-url("parts7");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
// .iine__button{
//   background: linear-gradient(to right, #feb400, #FFE300);
//   line-height: 42px;
//   color: #6d3701;
//   font-size: 14px;
//   display: inline-block;
//   padding: 0 18px;
//   border-radius: 100px;
//   font-weight: bold;
// }
