.swiper-slide {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #swiper-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(75%);
  }

  .swiper__text {
      position: absolute;
      top: 10px;
      left: 370px;
      padding: 20px 40px;
      font-weight: bold;
      text-align: center;

    &--large {
      font-size: 2rem;
      padding: 0;
      margin-bottom: 16px;
      text-align: center;
    }

    &--small {
      font-size: 24px;
      margin-bottom: 24px;
      line-height: 2;
      
    }
  }

  .swiper__link--tag {
      position: absolute;
      bottom: 35px;
      left: 330px;
      margin: 0px auto;
      display: flex;

      .loginPage_contents_btn {
        height: 50px;
        width: 170px;
      }

      .link__google #googleplay {
        height: 50px;
        width: 158px;
        margin-left: 8px;
      }
  }
}
.swiper-container{
  height:100%;
  
}
.swiper-container2{
  height:100%;
  

.swiper-slide2 {
  
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #swiper-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(75%);
  }
  .swiper__text {
    position: absolute;
    top: 10px;
    left: 300px;
    padding: 20px 40px;
    font-weight: bold;
    

  &--large {
    font-size: 2rem;
    padding: 0;
    margin-bottom: 16px;
  }

  &--small {
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 2;
  }
}
}
}
