.tab{
  overflow:hidden;
  }
  .tab li{
  background:#ccc; 
  padding:5px 25px; 
  float:left; 
  margin-right:1px;
  }
  .tab li.select{
  background:#eee;
  }
  .content li{
  background:#eee; 
  padding:20px;
  }
  .hide {
  display:none;
  }
.pickup-section{
  background-color: rgb(251, 251, 251);
  padding: 0px;
  margin: 0px auto;

  &__main{
    background-color: rgb(239, 239, 239);
    padding: 42px 0px 100px;
    margin: 0px auto;
    &--users{
      margin: 0px auto;
      width: 1020px;
      display: flex;
      flex-wrap: wrap;
      }
  }
}
.users__list{
  width: 182px;
  height: 230px;
  margin: 10px;
  .user{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: $White;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.18);
  

    &__thumbnail{
      overflow: hidden;
      padding: 0 0 100%;
      width: 100%;
      position: relative;
      &--label{
        align-items: center;
        background: rgba(0,0,0,0.9);
        border-radius: 0 14px 14px 0;
        bottom: 8px;
        color: $White;
        display: inline-flex;
        font-size: 17px;
        height: 28px;
        letter-spacing: .02em;
        margin: 0;
        padding: 0 12px;
        position: absolute;
        z-index: 2;
        opacity: 0.5;

      }
      &--image{
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: top;
        z-index: 1;
        transform: translate(-50px,-50px);
      }
    }
  }
}
