.mypage_a {
  width: 100%;
  height: 100%;
  background-color: $Background;
}
.mypage-contents.clearfix {
  width: 1020px;
  height: 1252px;
  padding: 0 0 40px 0;
  display: block;
  border-style: solid;
  border-width: 0;
  margin:0 auto;
  margin-top:40px; 
  
}
.main-content {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  
  .user {
    width: 700px;
    height: 160px;
    padding: 20px;
    position: relative;
    text-align: center;
   
    .user_background{
      background-image: image-url("bg-masthead.jpg");
      width: 700px;
      .userInfo {
        
        &_img {
          width: 170px;
          height: 170px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          &>img {
            width: 100%;
          }
        }

        &_name {
          text-align: center;
          margin-top: 30px;
          font-size: 30px;
        }

        &_selfIntroduction {
          margin-top: 30px;
        }
      }
  }
  .transaction-hisory {
    width: 700px;
    height: 100%;
    margin: 40px 0 0 0;
    background-color: $White;
    .header {
      width: 668px;
      height: 72px;
      padding: 0 16px;
      color: #333;
      background-color: #fafafa;
      line-height: 72px;
      display: block;
      font-weight: bold;
    }
    .transaction-tabs {
      width: 700px;
      height: 100px;
      list-style: none;
      overflow: hidden;
    }
    .transaction-tabs li {
      width: 50%;
      height: 74px;
      float: left;
      display: inline-block;
      text-align: center;
      line-height: 74px;
      background: #eee;
    }
    .transaction-tabs li.select {
      background: $White;
    }
  
    .tab-content-transaction {
      width: 700px;
      height: 100%;
      position: relative;
    }
      
    li.tab-content-transaction__notfound {
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      padding: 160px 0 60px;
      // background-image: image-url("logo-gray-icon.svg");
      text-align: center;
      font-size: 16px;
      color: #ccc;
      position: relative;
    }
    .transaction-item__link {
      width: 668px;
      min-height: 48px;
      color: #333;
      text-shadow: none;
      padding: 16px;
      display: block;
      position: relative;
      
      &__body {
        margin: 0 40px 0 68px;
        width: 560px;
        float: right;
        padding: 0;
        position: absolute;
        min-height: 38px;
        &__text {
          width: 560px;
          min-height: 21px;
          font-size: 14px;
        }
        .icon-time {
          width: 16px;
          height: 17.42;
        }
      }
      .icon-arrow-right {
        width: 8.59px;
        height: 14px;
        float: right;
        position: 45.703 16 31.719 675.406px;
      }
    }
    .hide {display: none;}
}
}
}

